* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: inherit;
  column-gap: 30px;
}

.header .container {
  height: 155px;
}
.container {
  max-width: 1130px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  line-height: 0;
}
.logo-header,
.logo-footer {
  width: 192px;
  height: 27px;
}

.menu {
  gap: 42px;
}

.menu a {
  text-transform: uppercase;
  font-style: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  text-decoration-line: none;
  transition: text-decoration-line 0.5s ease-in-out;
  color: #333136;
}

.menu a:hover {
  text-decoration-line: underline;
}

.header__menu {
}
/* ================================= */
main {
  max-width: 1440px;
  margin: 0 auto;
  background: url(../assets/main/body-phon-elements/body_bg_top.png),
    url(../assets/main/body-phon-elements/body_bg_bottom.png);
  background-repeat: no-repeat;
  background-position: left top 320px, right bottom 74px;
}
.container-bg {
}

.container {
}
.hero {
  min-height: 640px;
  border-radius: 15px;
  padding-left: 95px;
  padding-right: 95px;
  background: url(../assets/main/hero/hero_smart.png),
    url(../assets/main/hero/hero_bg_circle.png), #e7816b;
  background-repeat: no-repeat;
  background-position: right bottom -110px, right center;
}
.hero__content {
  max-width: 540px;
}
.hero__content h1 {
  min-height: 165px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 11px;
}

.hero__content p {
  font-style: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.hero__content a,
.touch a,
.cont form button {
  color: #333136;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 152px;
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.hero__content a:hover,
.touch a:hover,
.cont form button:hover {
  color: #fff;
  background: #ffad98;
}
/* ================================= */
.products {
  min-height: 960px;
}
.products__content {
  width: 100%;
  display: flex;
  gap: 30px;
}

.products__content article div {
  border-radius: inherit;
  width: inherit;
  height: 100%;
  transition: background 0.5s ease-in-out;
}
.products__content article:hover div {
  background: rgba(231, 130, 107, 0.8);
}

.products__content > article div {
}

.product__content-item {
  width: 100%;
}

.product {
  max-width: 540px;
  width: 100%;
  height: 308px;
  background: #000;
  border-radius: 15px;
  gap: 24px;
}

.product__content-item.product {
  min-height: 640px;
  background-image: url(../assets/main/products/web.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

div.product__content-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
div.product__content-item article.product {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

div.product__content-item article.product:nth-child(1) {
  background-image: url(../assets/main/products/app.jpg);
}

.appd div.product__content-item article.product:nth-child(1) {
  background-image: url(../assets/main/products/web.png);
}

.graphic div.product__content-item article.product:nth-child(2) {
  background-image: url(../assets/main/products/web.png);
}
div.product__content-item article.product:nth-child(2) {
  background-image: url(../assets/main/products/graphic.jpg);
}
.product div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product a {
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  padding-right: 26px;
  background-image: url(../assets/main/products/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.product a h3 {
  font-size: 15px;
}
/* ================================= */

.props {
  column-gap: 30px;
}
.props__item {
  text-align: center;
  width: 350px;
  min-height: 792px;
}
.props__item img {
  margin-bottom: 48px;
}
.props__item h2 {
  color: #333136;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.props__item p {
  color: #333136;
  font-size: 16px;
  line-height: 26px;
}
/* ================================= */
.footer {
  background-color: #1d1c1e;
  min-height: 393px;
  position: relative;
  padding-top: 144px;
}
.touch {
  height: 292px;
  max-width: 1110px;
  width: 100%;
  border-radius: 15px;
  background: url(../assets/main/touch/touch-bg.png) #e7816b;
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  top: -220px;
  padding-left: 94px;
  padding-right: 94px;
  justify-content: center;
  column-gap: 310px;
  flex-wrap: wrap;
}

.touch a {
  padding-left: 18px;
  padding-right: 18px;
}

.touch__content {
  max-width: 460px;
}
.touch__content h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 12px;
}

.touch__content p {
  font-size: 16px;
  line-height: 26px;
}
/* ================================= */
.footer__menu li a {
  color: #fff;
}
.bt-line {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

.info {
  justify-content: center;
  gap: 30px;
}

.info__item {
  width: 350px;
}
.info__item h2 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  opacity: 0.5;
}

.info__item p {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.5;
}

.info__item.fw700 p {
  font-weight: 700;
}
.info__item.social {
  height: 78px;
  justify-content: end;
  align-items: flex-end;
  gap: 16px;
}
.info__item.social > a {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.2s ease-in-out;
}

.info__item.social > a:nth-child(1) {
  background-image: url(../assets/main/footer/fb.svg);
}
.info__item.social > a:nth-child(2) {
  background-image: url(../assets/main/footer/ytb.svg);
}
.info__item.social > a:nth-child(3) {
  background-image: url(../assets/main/footer/tw.svg);
}
.info__item.social > a:nth-child(4) {
  background-image: url(../assets/main/footer/pin.svg);
}
.info__item.social > a:nth-child(5) {
  background-image: url(../assets/main/footer/inst.svg);
}

.info__item.social > a:nth-child(1):hover {
  background-image: url(../assets/main/footer/fb-l.svg);
}
.info__item.social > a:nth-child(2):hover {
  background-image: url(../assets/main/footer/ytb-1.svg);
}
.info__item.social > a:nth-child(3):hover {
  background-image: url(../assets/main/footer/tw-1.svg);
}
.info__item.social > a:nth-child(4):hover {
  background-image: url(../assets/main/footer/pin-l.svg);
}
.info__item.social > a:nth-child(5):hover {
  background-image: url(../assets/main/footer/inst-l.svg);
}
/* ================================= */
.webd div.product__content-item,
.appd div.product__content-item,
.graphic div.product__content-item {
  flex-direction: row;
}

.webd main .touch,
.appd main .touch,
.graphic main .touch {
  margin: 0 auto;
  position: static;
  text-align: center;
}

.webd main .touch h2,
.appd main .touch h2,
.graphic main .touch h2 {
  font-size: 48px;
  line-height: 48px;
}

.webd .products,
.appd .products,
.graphic .products {
  padding-bottom: 220px;
  min-height: 850px;
}

.webd .works,
.graphic .works {
  padding-top: 160px;
  justify-content: center;
  column-gap: 30px;
  row-gap: 32px;
}
.appd .works {
  padding-top: 160px;
  justify-content: flex-start;
  column-gap: 30px;
  row-gap: 32px;
}

.webd .works__item,
.appd .works__item,
.graphic .works__item {
  width: 350px;
  height: 478px;
  border-radius: 15px;
  background: #fdf3f0;
}

.works__item.flex {
  flex-direction: column;
  justify-content: center;
}
.works__item div {
  height: 158px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background: #fdf3f0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  transition: background 0.5s ease-in-out;
}
.works__item div:hover {
  background: #e78168;
}

.works__item div:hover h3 {
  color: #fff;
}

.works__item div:hover p {
  color: #fff;
}

.works__item h3 {
  color: #e7816b;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.works__item p {
  color: #333136;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  width: 286px;
}

/* ================================= */
.about {
  border-radius: 15px;
  background: #e7816b;
  height: 480px;
  background-image: url(../assets/about-us/about-oval.png),
    url(../assets/about-us/about.jpg);
  background-repeat: no-repeat;
  background-position: left center, right center;
  margin-bottom: 160px;
}
.about__info.flex {
  flex-direction: column;
  gap: 32px;
  align-items: start;
}
.about__info {
  max-width: 460px;
  margin-left: 95px;
}

.about__info h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}
.about__info p {
  font-size: 16px;
  line-height: 26px;
}
/* ================================= */
.talent,
.deal {
  border-radius: 15px;
  background: #fdf3f0;
  gap: 94px;
  background-image: url(../assets/about-us/talent.jpg),
    url(../assets/about-us/talent-oval.png);
  background-repeat: no-repeat;
  background-position: left center, right 197px bottom 0px;
  height: 640px;
  margin-bottom: 160px;
}

.talent__info,
.deal__info {
  max-width: 540px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.talent__info h2,
.deal__info h2 {
  max-width: 445px;
  color: #e7816b;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}
.talent__info p,
.deal__info p {
  max-width: 445px;
  color: #333136;
  font-size: 16px;
  line-height: 26px;
}

.deal {
  background-image: url(../assets/about-us/talent-oval.jpg),
    url(../assets/about-us/deal.jpg);
  background-repeat: no-repeat;
  background-position: left bottom, right center;
}

.deal.flex {
  justify-content: start;
  margin-bottom: 380px;
}

/* ================================= */
.geo {
  margin-bottom: 160px;
}

.geo__item {
  text-align: center;
}
.geo__item img {
  margin-bottom: 48px;
}

.geo__item h3 {
  color: #333136;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  margin-bottom: 32px;
  text-transform: uppercase;
  width: 350px;
}

.geo__item a {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #e7816b;
  display: inline-block;
  padding: 18px 17px;
  border-radius: 8px;
  transition: background-color 0.5s ease-in-out;
}
.geo__item a:hover {
  background-color: #ffad9b;
}

/* ================================= */
.main.loc {
  background: none;
  margin-bottom: 280px;
}
.locations.flex {
  row-gap: 32px;
  flex-direction: column;
  align-items: start;
}
.locations__item {
  width: 100%;
}

.locations__item img {
  border-radius: 15px;
}
.locations__item article {
  background-color: #fdf3f0;
  max-width: 730px;
  width: 100%;
  min-height: 326px;
  border-radius: 15px;
  justify-content: center;
  background-image: url(../assets/location/location-oval.png),
    url(../assets/location/location-oval.png);
  background-repeat: no-repeat;
  background-position: left bottom, left 292px bottom;
}

.locations__item h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #e7816b;
  margin-bottom: 24px;
}

.locations__item h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #333136;
}

.locations__item p,
.locations__item p a {
  font-size: 16px;
  line-height: 26px;
  color: #333136;
}

.locations__item address {
  justify-content: flex-start;
}

.locations__item address div {
  width: 255px;
}

.locations__item:nth-child(2) article {
  order: 1;
}

/* ================================= */
footer .contact {
  padding-top: 72px;
}

.contact .geo {
  margin-bottom: 0;
}

.main.contact {
  background: url(../assets/contact/contact-phone-bottom.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom -160px;
  padding-bottom: 160px;
}

.cont {
  margin-bottom: 160px;
}

.cont {
  min-height: 480px;
  background-color: #e7816b;
  border-radius: 15px;
  padding: 55px 95px;
  background-image: url(../assets/contact/contact-oval.png);
  background-repeat: no-repeat;
  background-position: 0 -161px;
}

.cont > div {
  max-width: 445px;
}

.cont h1 {
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

.cont p {
  font-size: 16px;
  line-height: 26px;
}

.cont form {
  max-width: 380px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  row-gap: 25px;
}

.cont button {
  /* margin-left: auto; */
  align-self: end;
  font-family: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.cont form input,
.cont form textarea {
  width: 100%;
  font-family: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #fff;
}

.cont form input {
  height: 38px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;
}

.cont form textarea {
  height: 102px;
  padding: 0 16px 16px 11px;
}
*::placeholder {
  color: #fff;
  opacity: 0.5;
}

/* ================================= */

/* @media  (max-width: 1199.98px) {
 .container {
  max-width: 
}
} */


@media  (max-width: 990.98px) {


main {
max-width: 768px;
background: none;
}
.container {
  max-width: 689px;
}

.hero {
min-height: 843px; 
padding-top: 74px;
padding-left: 71px;
padding-right: 45px;
flex-direction: column;
background-position: right 96px bottom -222px, 154px 112px;
}

.hero__content {
  max-width: 573px;
 
}
.hero__content h1 {
 text-align: center;
 margin-bottom: 11px;
}

.hero__content p {
  line-height: 26px;
  text-align: center;
  padding-left: 59px;
  padding-right: 69px;
  margin-bottom: 19px;
}

.hero__content a {
margin-left: 210px;
margin-bottom: 58px;
}
/* .products {
 margin-bottom: 120px;
} */

.products__content {
  flex-direction: column;

}

.product {
  max-width: 689px;
  height: 200px;
  column-gap: 24px;
}

.product__content-item.product {
  min-height: 200px;
  background-position: bottom left; 
}
.props {
  margin-bottom: 331px;
}
.props__item {
 display: flex;
 min-height: 670px;
}

.props__item {
  text-align: start;
  width: 690px;
  min-height: 202px;
  
  column-gap: 32px;
}

.props__item div {
  max-width: 494px;
  padding-left: 55px;
}

.props__item h2 {
  margin-top: 41px;
  margin-bottom: 16px;
}

.props__item p {
text-align: left;
}
}

@media  (max-width: 767.98px) {

}